
	
	#wrapper{height:auto;}
	body{/*background-color:rgba(0,0,0,0.10);*/background-image:url("../images/15488-(edit).jpg");background-position:bottom;background-attachment:fixed;}
	

	/*Insert .header CSS-HERE*/
/*------------------------------------------------------------------*/
/*|								=== |*/
/*|								=== |*/
/*|							        === |*/	
/*-------------------------------------------------------------------*/


	
	.abt1{width:45%;grid-area:about;float:left;padding-right:10px;}
	
	.abt1-img{grid-area:about;width:100%;}
	
	.abt2{width:auto;grid-area:about;padding-right:5px;}
	
	.svc1{margin-top:20px;margin-bottom:20px;width:100%;grid-area:prf;float:left;padding-right:10px;}
	
	.svc-img{grid-area:prf;width:100%;}
	
	.svc2{width:auto;grid-area:prf;padding-right:5px;}
	
	.btn-text{text-decoration:none;font-family:"Montserrat";}
	.btn-text>.consult-btn-graphic{
		box-shadow: .5px .5px 2px .5px black;
		border-radius:4px;
		margin-bottom: 5px;
		color:white;
		text-decoration:none;
		text-align:center;
		
		width: auto;
		height:20px;
		padding-top:2%;
		padding-bottom:2%;
		background-color:#E6038A;}
		
	.h-text{
		width:100%;
		font-size: 20px;
		background-color: #000000;
  color: rgba(0,0,0,.20);
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
		margin:0px;
	font-family:"Montserrat";
}
	.desc-cont{
		font-size:auto;
		font-family:"Montserrat";
	}
	
	.rp-cont{
		text-align:center;
		list-style:none;
		font-size:auto;
		font-family:"Montserrat";}
	
	
	
	.title1{
		height:auto;
		grid-area:title1;
		grid-row:1/1fr;
		grid-column:1/9;
		
		}
	.title1 > h1{
		width:100%;
		height:100px;
		margin-bottom:0px;
		background-color:green;
		color: transparent;
		text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;}
	
	
	.title1{
		font-size:28px;
		font-family:"Montserrat";
		color:white;
		text-align:center;
		
		vertical-align:bottom;
	}
	
	.item1{
		height:auto;
		grid-area:lf; 
		grid-row: 2 / 1fr;
		grid-column: 1 / 9;
		
	}
	
	.item2{height:auto;
		
		grid-area:opt1;
	grid-row: 3 / 1fr;
	grid-column: 1 / 9;}
	
	.item3{height:auto;
		grid-area:opt2;
		grid-row: 4 / 1fr;
	grid-column: 1 / 9;}
	
	.item4{height:auto;

		grid-area:options;
		grid-row: 5 / 1fr;
	grid-column: 1 / 9;}
	
	.title2{
		height:auto;
		grid-area:title2;
		grid-row:6/1fr;
		grid-column:1/9;
		
		}
	.title2 > h1{
		height:100px;
		margin-bottom:0px;
		background-color:green;
		color: transparent;
		text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;}
	
	
	.title2{
		font-size:28px;
		font-family:"Montserrat";
		color:white;
		text-align:center;
		vertical-align:bottom;
	}
	
	.item5{height:auto;

		grid-area:value;
		grid-row: 7 / 1fr;
	grid-column: 1 / 9;}
	
	.item6{height:auto;

		grid-area:how;
		grid-row: 8 / 1fr;
	grid-column: 1 / 9;}
	
	
	.item7{height:auto;

		grid-area:redeem;
		grid-row: 9 / 1fr;
	grid-column: 1 / 9;}
	
	.item8{height:auto;

		grid-area:rules;
		grid-row: 10/ 1fr;
	grid-column: 1 / 9;}
	
	.item9{
	
		
		height:auto;
		grid-area:consultation;
		grid-row: 11 / 1fr;
	grid-column: 1 / 9;}
	
	
	
	.grid-container{
		margin-top:60px;
		display:grid;
		
		grid-template-columns: auto auto auto auto auto auto;
		
		grid-template-rows: auto auto auto  auto auto auto auto auto auto auto;
		
		grid-template-areas: 
			'title1 title1 title1 title1 title1 title1'
			
			'lf lf lf lf lf lf'
			'opt1 opt1 opt1 opt1 opt1 opt1'
					
		'opt2 opt2 opt2 opt2 opt2 opt2'
			
		'options options options options options options '
			'title2 title2 title2 title2 title2 title2'
			'value value value value value value'
			'how how how how how how'
			'redeem redeem redeem redeem redeem redeem'
			'rules rules rules rules rules rules'
				
			'consultation consultation consultation consultation consultation consultation';
		
					
		grid-gap: 10px;
		
		background-color:rgba(0,0,0,0.0);
		
		padding:20px;
		
		}
	
	.grid-container > .title1{
		background-image:linear-gradient(180deg,transparent, #A2A2A2,transparent);
		
		float:left;
		box-shadow: inset -1px 0px 2px 2px rgba(000,000,000,.5);
		border-radius:80px;
		
		
		
	}
	
	.grid-container > .title2{
		background-image:linear-gradient(180deg,transparent, #a2a2a2,transparent);
		
		float:right;
		box-shadow: inset -1px 0px 2px 2px rgba(000,000,000,.5);
		border-radius:80px;
		
		
	}
	
	.grid-container > .item1 {
		margin-top:20px;
		padding:10px;
	}
	
	.grid-container > .item2 {
		width:auto;height:auto;
		padding:10px;
	}
	
	/*.item2 > .h-text{margin-top:240px;}*/
	.item2 > .tour{width:100%;height:100%;border-radius:2px;}
	
	.grid-container > .item3 {
		width:auto;height:auto;margin-top:20px;
		padding:10px;
	}
	
	
	.grid-container > .item4 {
		
	
		padding:10px;
	}
	
	.grid-container > .item5 {
		
		padding:10px;
		
	
	}
	
	.grid-container > .item6 {
		padding:10px;
	
	}
	
	.grid-container > .item7 {
		padding:10px;
	
	}
	
	.grid-container > .item8 {
		padding:10px;
	
	}
	
	.grid-container > .item9{
		width:auto;height:auto;margin-top:20px;border-radius:2px;padding:10px;box-shadow: 1px 1px 3px 1px black;border:rgba(230,3,138,0.50) thick solid;
	}
	
	
	
	
	
	
	
	/*[Insert .footer here]*/
	
